@import url('https://fonts.googleapis.com/css2?family=Anton&family=Monoton&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
	margin:0;
	padding: 0;
  font-family: 'Roboto', arial, sans-serif;
}
body{
	overflow-x: hidden !important;
 font-family: 'Roboto', sans-serif;
 background-color: white;
 width:100%;
 height: 100vh;
 background-size: cover;

}

.forker{
	margin-top: -50px;
}
.yep{
	margin:50px auto;
	background-color:#EAEDED;
		}
.yep h1{
	text-align: center;
	font-weight: bold;
	color:#CD5C5C;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.yep h1::after
{
	content:'';
	display: block;
	background: #CD5C5C;
    height: 4px;
    width:150;
    margin:30px auto 4px;
}
.card{
	background-color:#D5DBDB  ;
}
p{
	font-size: 16px;
	line-height: 30px;
}
.section-heading h4{
text-transform: uppercase;
color: #6E2C00 ;
font-family: 'Anton', sans-serif; 
font-weight: 400;
letter-spacing: 2px;
}
.section-heading h1{
	font-family: 'Pacifico', cursive;
	color:#F1C40F ;
}

/*********Css for register and login page*******/
.easy{
	background: url("../images/6.jpg") no-repeat;
	width: 100%;
	height: 100vh;
	background-size: cover;
}
.yeah{
	border:0px solid #fff;
	color: #e7a61a;
	padding: 50px 60px;
	margin-top: 15vh;
	-webkit-box-shadow: 10px 6px 285px 139px rgba(0,0,0,0.8);
-moz-box-shadow: 10px 6px 285px 139px rgba(0,0,0,0.8);
box-shadow: 10px 6px 285px 139px rgba(0,0,0,0.8);
background:rgba(28, 40, 51, 0.8);

}
.yeah h1{
	color: white;
	text-align: center;
}

/*********Css Navbar*******/
div .nav-item .log_out{
	border: 0;
	margin-right: 0;
}

  /*FOR MENU PAGE*/
  .class{
  	margin: 10px;

  }
  .image img{
  	margin-top: 5px;
  	height: 80%;
	max-width: 100%;
	overflow: hidden;
	border: 10px solid #D02D12;
	border-radius: 20%;
}

.btn-group button{
	margin-left: 45px;
}
.cost{
	background-color: teal;
	margin-left: 45px;
	color: gold;
	border: 2px solid teal;
	padding-left: 5px;
	border-radius: 10%;
	width: 61%;
}
.body2{
	background-color: #363E50;
}
.h1 h1{
	text-align: center;
	color: gold;
	font-size: 110%;
	padding-top: 20px;
	
}
.h2 h2{
	margin-left: 65px;
	
	color: salmon;
	font-weight: bold;
	font-family: serif;
}
.menu1 p {
	font-family: 'Roboto', sans-serif;
 	color:#777;
 	font-size: 16px;
	line-height: 30px;
}
.button1 {
	position: absolute;
	bottom: 0px;
}

       /*FOR CREATE PAGE*/
.form-control{
	border: 2px solid teal;

}

.navbar-brand{
	margin-left: 8rem;
	padding: 0;
}
.bg-dark,div .nav-item .log_out{
	background-color: #000000!important;
	opacity: 0.88;
}
.nav-link , .log_out{
	font-size: 1.2rem !important;
	margin-left:1.7em; 
	margin-right:1.7rem;
	color:white !important;
	font-family: 'Lato', sans-serif !important;
}
.nav-link:hover , .log_out:hover{
	color: gold !important;
	transition-duration: 0.6s;
}
.logo{
	 margin-top: 0;
	height:60px;
}
div .nav-item .active{
	color: gold!important;
}
div .nav-item .sign_up , .sign_in{
	margin-left:3px;
	margin-right:3px;
	font-size: 17px!important;
}
div .nav-item .sign_up{
	border: 2px solid gold;
	border-radius: 20px;
}
/*About Page Montaj*/


.back_image{
	
	background-image: url("../images/font3.png");
	height: 700px;
	background-size: cover;
	margin-top: 0; 
}
.back_image2{
	background-image: url("../images/fonmiddle2.png");
	height: 850px;
	background-size: cover;
	margin-top: 0; 
	background-color:#b1a0a0; 
  background-blend-mode: multiply;
}
#para1{
	font-family: 'Playfair Display', serif;
	color: black;
	font-size: 50px;

}
.jumbotron{
	padding-right:0; 
}
.mainText{
	margin-top: 50px;
	text-shadow: -10px 30px 25px #151525;
	margin-right: 0;
	
}
.mainText2{
	margin-left: 0;
	margin-top: 150px;
	margin-right: 0;
	
}

#para2{
	font-family: 'Playfair Display', serif;
	color: #bf6c35;
	font-size: 150px;

}
#para3{
	font-family: 'Playfair Display', serif;

	color: gold;
	font-size: 90px;

}
div.about{
	padding-top: 100px;
	color: black;
}

.member-about, #bodyChange{
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;


}
div.custom_head{
	margin-right: 0;
	margin-bottom: 0;
	padding: 20;
	margin-top: 20px; 
	margin-bottom:30px;

}
h3.para3{
	font-family: 'Playfair Display', serif;
	color: gold;
	font-size: 40px;


}
h4.member-name{
	font-family: 'Playfair Display', sans-serif;
}
div.fancy-background{
	background-color: black;
    padding: 80px 0;
    opacity: 0.9;
}


.carousel-item{
	background-size: cover;
}
.carousel {

  height: 600px!important;
}
.carousel-item{
	 height: 600px!important;
}
.carousel-inner{
	 height: 600px!important;
}
div .carusel1{
	margin-bottom: 0;
}
#para4 {
    font-family: 'Playfair Display', serif;
    font-size: 120px;
}
#para5 {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
  
}
#para5, #para6, #para4{
	color: #964f2b;
}
#para6 {
    font-family: 'Lobster Two', cursive;
    font-size:  60px;
  
}
#para7{
	font-family: 'DM Mono', monospace;
	 font-size:  15px;
	 color: black;
}

.btn-secondary {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-secondary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-secondary span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-secondary:hover span {
  padding-right: 25px;
  color:gold;
}

.btn-secondary:hover span:after {
  opacity: 1;
  right: 0;
}
.carousel-control {
  color: black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
#para8{
	font-family: 'Helvetica', sans-serif;
	 font-size:  90px;
	 color: black;
	 text-shadow: 30px 40px 30px #151525;
	 color: #964f2b;
}

#para9{
	 font-family: 'DM Mono', monospace;
    font-size: 35px;
   color: #964f2b;
    text-shadow: 30px 40px 30px #151525;
    text-align: left;
    margin-left: 15%; 
}
div.carusel3{
	margin-bottom: 15%;
}
#para10{
	color: #964f2b;
	font-family: 'Helvetica', sans-serif;
	 font-size:  80px;
	

}
#para11{
	 font-family: 'DM Mono', monospace;
    font-size: 35px;
    text-align: left; 
    color: #964f2b;

}

.imagaskil img{
	 width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.name1{
	font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: black;

}
.backImage{
	background-image: url("../images/finalPic.png");
	height: 850px;
	background-size: cover;
	margin-top: 0; 
	
}